.footer{
    background-color: #ede4dc;
    padding: 1.5em;
    font-weight: bold;
    font-size: 1.5em;
}
.footer-name-black{
    color: #121b21;  
}
.footer-name-green{
    color: #22d365 ;
}
.footer img{
    height: 1em;
    width: auto;
}