.porypara-container{
    background-color: #121b21;
    color: #f9f9f9;
    padding: 3em;
    flex-direction: column;
    text-align: center;
}
.porypara{
    font-size: 2.35em;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.llegamos{
    font-size: 19.5px;
}